.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--background-2nd);
}

.header-hamberger {
  font-size: 2rem;
}

.header-logo-container {
  display: flex;
  align-items: center;
}

.header-app-logo {
  width: 4.5rem;
  height: 2.5rem;
  object-fit: cover;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.51));
  background-color: transparent;
  display: inline-block;
}

.header-app-name {
  font-family: "Poiret One", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.8rem;
  padding-bottom: 0.4rem;
  margin: 0;
  margin-left: 1rem;
}

#user-box {
  background-color: var(--background-2nd);
  border-radius: 1rem 0 1rem 1rem;
  padding: 1rem 2rem;
  width: clamp(20rem, 40vw, 30rem);
  position: absolute;
  top: 4.5rem;
  right: 1rem;
  box-shadow: 0 0 5px rgb(16, 16, 16);
  transition: transform 0.25s, opacity 0.25s;
}

.hideUserBox {
  transform: translateY(-3.5rem) translateX(10rem) scale(0);
  opacity: 0.2;
}

#theme-toggle{
    cursor: pointer;
    width: fit-content;
}
#theme-toggle img{
   filter:var(--invert)
}

.user-box-theme-box{
  display:flex;
  justify-content: space-between;
}