:root {
    --light: #BCBCBC; 
    --dark: #0A162C;
    --p-light:#97979d;
    --p-mid:#4A495A;
    --p-dark:#282D40;
    --shadow:rgba(16, 16, 16, 0.803);
}

[data-theme='light'] {
    --background: var(--light);
    --text: var(--dark);
    --background-2nd: var(--p-light);

    --invert:invert(0.85);
}
[data-theme='dark'] {
    --background: var(--dark);
    --text: var(--light);
    --background-2nd: var(--p-dark);
    
    --invert:invert(0.3);
}

body{
    background-color: var(--background);
    color:var(--text);
    font-family: "Montserrat Alternates", sans-serif;
    margin:0;
}

*{
    box-sizing: border-box;
}


/* global */
.clickable {
    cursor: pointer;
    transition: .2s;
}
.clickable:active{
    transform: scale(0.9);
}


/* responsive & big */
.font-size-r-b{
    font-size: clamp(1rem, 3vw, 2rem);
}
.bold{
    font-weight:600;
}

