:root {
    --light: #BCBCBC; 
    --dark: #0A162C;
    --p-light:#83828B;
    --p-mid:#4A495A;
    --p-dark:#282D40;
    --semi-trans:rgba(128, 128, 128, 0.443);
}

[data-theme='light'] {
    --background: var(--light);
    --text: var(--dark);

    --hightlight:black;
    --shadow:rgba(0, 0, 0, 0.499);
}
[data-theme='dark'] {
    --background: var(--dark);
    --text: var(--light);
    
    --hightlight:#eff4f6;;
    --shadow:rgba(219, 219, 219, 0.499);
}

body{
    background-color: var(--background) !important;
    color:var(--text);
    font-family: "Montserrat Alternates", sans-serif;
    margin:0;
}

*{
    box-sizing: border-box;
}


/* global */
.clickable {
    cursor: pointer;
    transition: .15s;
}
.clickable:active{
    transform: scale(0.9);
}